<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #schoolForm="ngForm" (ngSubmit)="onSubmit(schoolForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="schoolService.schoolSelected._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.name" placeholder="Enter full name" required>
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Address" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Address" placeholder="Enter Address">
                  <label>Address :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="City" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.City" placeholder="Enter city">
                  <label>City :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Telephone" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Telephone" placeholder="Enter telephone number">
                  <label>Telephone :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Email" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Email" placeholder="Enter email address">
                  <label>Email :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Owner" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Owner" placeholder="Enter owners name">
                  <label>Owner :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Slogan" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Slogan" placeholder="Enter school's slogan">
                  <label>Slogan :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Logo" #name="ngModel" [(ngModel)]="schoolService.schoolSelected.Logo" placeholder="Enter school's logo">
                  <label>Logo :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(schoolForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!schoolForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let sch of schoolService.schools">
                    <td>{{emp.name}}</td>
                    <td>{{emp.position}}</td>
                    <td>{{emp.office}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(sch)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(sch._id,schoolForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>